<?xml version="1.0"?>
<config>
    <modules>
        <Pugnet_Uploader>
            <version>1.0.1</version>
        </Pugnet_Uploader>
    </modules>
    <global>
        <models>
            <pugnet_uploader>
                <class>Pugnet_Uploader_Model</class>
                <resourceModel>pugnet_uploader_resource</resourceModel>
            </pugnet_uploader>
            <pugnet_uploader_resource>
                <class>Pugnet_Uploader_Model_Resource</class>
                <entities>
                    <images>
                        <table>pugnet_uploader_images</table>
                    </images>
                </entities>
            </pugnet_uploader_resource>
        </models>
        <blocks>
            <pugnet_uploader>
                <class>Pugnet_Uploader_Block</class>
            </pugnet_uploader>
        </blocks>
        <helpers>
            <pugnet_uploader>
                <class>Pugnet_Uploader_Helper</class>
            </pugnet_uploader>
        </helpers>
        <resources>
            <pugnet_uploader_setup>
                <setup>
                    <module>Pugnet_Uploader</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pugnet_uploader_setup>
            <pugnet_uploader_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pugnet_uploader_write>
            <pugnet_uploader_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pugnet_uploader_read>
        </resources>
    </global>
    <admin>
        <routers>
            <pugnet_uploader>
                <use>admin</use>
                <args>
                    <module>Pugnet_Uploader</module>
                    <frontName>pugnet_uploader</frontName>
                </args>
            </pugnet_uploader>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <pugnet module="pugnet_uploader">
                <title>Pugnet</title>
                <sort_order>200</sort_order>
                <children>
                    <items module="pugnet_uploader">
                        <title>Images Product Uploader</title>
                        <sort_order>10</sort_order>
                        <action>pugnet_uploader/adminhtml_images</action>
                    </items>
                </children>
            </pugnet>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <pugnet_uploader translate="title" >
                            <title>Images Uploader</title>
                            <sort_order>100</sort_order>
                            <children>
                                <images translate="title" module="pugnet_uploader">
                                    <title>Images</title>
                                    <sort_order>10</sort_order>
                                </images>
                            </children>
                        </pugnet_uploader>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pugnet_uploader translate="title" module="pugnet_uploader">
                                            <title>Images Uploader</title>
                                        </pugnet_uploader>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <pugnet_uploader>
                    <files>
                        <default>Pugnet_Uploader.csv</default>
                    </files>
                </pugnet_uploader>
            </modules>
        </translate>
        <layout>
            <updates>
                <pugnet_uploader>
                    <file>pugnet_uploader.xml</file>
                </pugnet_uploader>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <uploader>
                <use>standard</use>
                <args>
                    <module>Pugnet_Uploader</module>
                    <frontName>uploader</frontName>
                </args>
            </uploader>
        </routers>
        <translate>
            <modules>
                <pugnet_uploader>
                    <files>
                        <default>Pugnet_Uploader.csv</default>
                    </files>
                </pugnet_uploader>
            </modules>
        </translate>
        <layout>
            <updates>
                <pugnet_uploader>
                    <file>pugnet_uploader.xml</file>
                </pugnet_uploader>
            </updates>
        </layout>
    </frontend>
</config>